[Desktop Entry]
Name=Godot 4.4 (Mono)
Exec=godot4.4-mono --display-driver wayland
Icon=godot
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
MimeType=application/x-godot-project;
Categories=Development;IDE;
StartupWMClass=Godot
